.crow{
    display: flex;
    width: 1000px;
    height: 250px;
    margin-left: 75px;
    margin-top: 50px;
}
.crow1{
    width: 1000px;

}
.crow2{
    width: 1000px;
    
}
.crow3{
    width: 1000px;
    
}