.Nav2{
    background-color: rgba(26, 6, 36, 0.888);
    color: white;
    height: 70px;
    justify-content: end;

    
    
    }
   
    .searchbar{
        display: flex;
        margin-top: 7px;
        margin-left: 150px;
        
    }
    .navbtn{
        display: flex;
        margin-left: 70px;
    }