

.full{
  height: 100%;
  width: 100%;
 
  
}
  

.sidebar{
  @media screen and (width:500px) {
    
  }
  height: 612px;
  width: 30vh;
  background-color: rgba(26, 6, 36, 0.888);
  color: white;
  padding-left: 10px;
  padding-top: 50px;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  line-height: 60px;

  display: block;
 
  
  
}
.sidebar.Link:hover{
  transform: scale(1.2);
}



  

.main{
  display: flex;
}

   
